In [1]:
import pandas as pd

In [2]:
csv_path = "budget_data.csv"

In [3]:
py_bank_df= pd.read_csv(csv_path)
py_bank_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [4]:
#Total number of months 
months_count= py_bank_df["Date"].count()

In [5]:
#Net total amount of PnL
net_toatl_pnl=py_bank_df['Profit/Losses'].sum()

In [6]:
#Averge of the chage in Pnl

last_pnl= py_bank_df["Profit/Losses"].values[-1]
first_pnl= py_bank_df["Profit/Losses"].values[0]

ave_pnl_period= (last_pnl-first_pnl)/85

#round it to two decimal places
ave_pnl_period= (round(ave_pnl_period,2))

In [18]:
#getting the gratest and least profit values 
amountchange= py_bank_df["Profit/Losses"].diff()
great_profit=amountchange.max()
least_profit=amountchange.min()

In [16]:
#print all findings in below diagram
print("Finacial Analysis")
print("--------------------------------------------------")
print(f"Total Months: {months_count}")
print(f"Total: ${net_toatl_pnl}")
print(f"Average change: ${ave_pnl_period}")
print(f"Greatest Increase in Profits: ${great_profit}")
print(f"Greatest Decrease in Profits: ${least_profit}")

Finacial Analysis
--------------------------------------------------
Total Months: 86
Total: $38382578
Average change: $-2315.12
Greatest Increase in Profits: $1926159.0
Greatest Decrease in Profits: $-2196167.0